/* add your CSS here */
h3 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 30px;
	color: #000000;
}
p {
    color: #000000;
}

.container img {
    width: 300px;
}

span {
	font-weight: bold;
}

.interesting {
	font-style:italic;
}

.information {
	margin: 10px 0px 0px 0px;
	width: 320px;
	border-radius: 15px;
	border: 1px solid #B9B7B7;
	box-shadow: 5px 5px 20px #ccc;
	
}

.text {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	list-style-type: none;
}

.box {
	width: 300px;
	padding: 0px;
	border: 1px solid black;
	margin-top: 10px;
	
}

.container {
	 width: 300px;
	 border: 1px solid grey;
	 padding: 0px 10px 10px 9px;
	 box-shadow: 5px 5px 20px #ccc;
}
